.grid {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr; //fr takes up freespace fraction
  // grid-template-columns: repeat(3, 1fr); //Shorthand
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem; //Uniform otherwise define separately
}

@media (min-width: 425px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 665px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.box {
  background-color: #f00;
  height: 200px;
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 425px) {
  .box {
    width: 200px;
    margin: 0;
  }
}
